/* 左侧按钮样式 */

.left-list-01>ul>li .btn-info {
    background-color: #7dd1f1;
    border-color: #7dd1f1;
    width: 56px;
    height: 26px;
}

.left-list-02 .btn-success {
    background-color: #42c28d;
    border-color: #42c28d;
    width: 56px;
    height: 26px;
}

.left-list-02 .btn-success:hover {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn-danger {
    background-color: #f1624d;
    border-color: #f1624d;
}


/* 右侧列表修改 */

.right_list>li {
    height: auto !important;
    padding: 0 !important;
}

.right_list>li dl {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #b4e3f6;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.right_list>li dl h3 {
    font-size: 16px;
    color: #0ba5df;
    font-weight: bold;
}

.right_list>li dl h3.wd {
    color: #f26955
}

.right_list>li dl dd {
    float: left;
    width: 65%;
}

.right_list>li dl dd h3 {
    text-align: left;
}

.right_list>li dl dd p a {
    text-decoration: underline;
}

.right_list>li dl dt h3 {
    text-align: center;
    width: 84px;
}

.right_list>li dl dt {
    float: right;
    width: 84px;
}

.right_list>li dl dt a {
    display: block;
    width: 84px;
    height: 25px;
    line-height: 25px;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    background: #7dd1f1;
    font-size: 14px;
    /* font-weight: bold; */
}

.right_list>li dl dt a:hover {
    background: #068cbf;
}


/* 新增按钮 */

.top_btn {
    overflow: hidden;
    width: 100%;
}

.top_btn a {
    display: block;
    padding: 0 25px;
    height: 30px;
    line-height: 28px;
    color: #ffffff;
    border: 1px solid #aad5eb;
    text-align: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    background: #068cbf;
    font-size: 16px;
    float: left;
    margin-right: 10px;
}

.pagination {
    position: absolute;
    bottom: 15px;
    left: 5px;
    margin: 0 0 !important;
}


/* 普通用户首页 */

.request_list {
    width: 100%;
}

.request_list li {
    overflow: hidden;
    border-bottom: 1px solid #d4f0fb !important;
    border-top: none !important;
}

.request_list li>div,
.request_list li>dl {
    width: 100%;
    overflow: hidden;
}

.request_list li>div {
    line-height: 24px;
}

.request_list li>div span {
    color: #0ca6e0;
    display: block;
    float: left;
    font-size: 16px;
    margin-right: 0 !important;
}

.request_list li>div>label {
    color: #0ca6e0;
    display: block;
    float: left;
    font-size: 16px;
}

.request_list li>div p {
    color: #0ca6e0 !important;
    float: left;
    margin-left: 15px;
    font-size: 16px;
    width: 150px !important;
}

.request_list li>dl dd,
.request_list li>dl dt {
    float: left;
    width: 50%;
}

.request_list li>dl dd>div {
    width: 100%;
    overflow: hidden;
}

.request_list li>dl dd>div label,
.request_list li>dl dd>div p {
    float: left;
    color: #000000;
    font-weight: normal
}

.request_list li>dl dd>div p {
    margin-right: 50px;
    width: auto !important;
}

.request_list li>dl dt p {
    color: #0ca6e0;
    font-size: 16px;
    float: left;
}

.request_list li>dl dt button {
    color: #FFFFFF;
    font-size: 16px;
    float: right;
    width: 128px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    background: #00bae9;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border: none;
    margin: 0 10px 0 0;
    padding: 0;
}

.request_list li>dl dt.dqr p {
    color: #00b5b1;
}

.request_list li>dl dt.dqr button {
    background: #00b5b1;
}