
 .event_list_inner2>div.line1>a{
    width: auto;padding:0 15px;
    margin-left:5px;
}
.event_list_inner2 .line5>div div p{
    margin-left: 30px;
}
.r-con-right .tab_box div.z3 table thead tr th{
    color:#f1624d;
}
.r-con-left .tab_box>div div>label{
    width: 100px;
}
.r-con-left .tab_box>div div.line2 label{
    width: 100px;
}

.second_main_right_content>div>div div.line_dxk .sel-box{
    float: left;
   
}
.second_main_right_content>div>div div.line_dxk .sel-box .selectpick_div{
     width: 100px !important;
     height: 32px !important;
     border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    text-align:left;
    color:#b6b6b6;
}
.second_main_right_content>div>div div.line_dxk .sel-box .selectpick_icon{
    float: right;
    background: url(../img/bottom.png) no-repeat center;
    height: 30px;
    width: 40px;
    cursor: pointer;
}
.second_main_right_content>div>div div.line_dxk .sel-box .selectpick_options{
    width: 100px !important;
}
.second_main_right_content>div>div div.line_dxk .sel-box ul{
    float: none;
}
.second_main_right_content>div>div div.line_dxk .sel-box li{
    float: none;
    text-align:left;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    padding-left: 5px;
}
.second_main_right_content>div>div div.line_dxk .sel-box li label{
    float: none;
    margin:0;
}
.second_main_right_content>div>div div.line_dxk .sel-box .selectpick_options ul li.selectpick_options_selected,.selectpick_options li:hover{
    background-color: #36b1e6;
   
}
.type1 th{
	height: 43px !important;
}
.rytb2 table th,.rytb2 table td{
	border-left:none;
}
.rytb2 table td.xx {
    background-color: #e5e5e5;
}

.tanc_box{
	padding:15px 30px;

}
.tanc_box div.line1{
	overflow: hidden;
	width: 100%;
	margin-bottom:15px;
}
.tanc_box div.line1>label{
	float: left;
    width: 90px;
    font-size: 15px;
    font-weight: normal;
    line-height: 36px;
    margin-bottom: 0;
}
.tanc_box div.line1>input {
    width: 300px;
    height: 35px;
    border: 1px solid #99d9f3;
    font-size: 14px;
    text-indent: 10px;
    line-height: 1.42857143;
}
.tanc_box div.line1>textarea{
	width: 300px;
    border: 1px solid #99d9f3;
    height: 130px;
    resize: none;
    font-size: 14px;
    text-indent: 10px;
}
.tanc_box div.line2{
   /* height: 30px;*/
    width:100%;
    margin-bottom:15px;
}
.tanc_box div.line2 textarea {
    text-indent: 10px;
    height: 130px;
    font-size: 14px;
    padding: 0px;
    margin-top: 5px;
    width: 300px;
    overflow-y: scroll;
    resize: none;
    padding: 5px;
    text-indent: 5px;
    border: 1px solid #99d9f3;
}

.tanc_box div>label{
    float: left;
    font-size: 14px;
    font-weight: bold;
    color:#000000;
    width: 100px;
    line-height: 30px;
    margin: 0;
    margin-right: 10px;
}
.tanc_box div.line4{
    width:100%;
    height:30px;
    margin-bottom:15px;
}
.tanc_box div.line4>input{
    width: 80%;
    height: 30px;
    float: left;
    text-align: left;
    text-indent: 10px;
    font-size: 14px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border: 1px solid #99d9f3;
    line-height: 1.42857143;
}

.tanc_box div.line4 .data_sjc{
    width: 300px;
    overflow: hidden;
    float: left;
    margin: 0;
}
.tanc_box div.line4 .data_sjc label{
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 0 17px;
    font-size: 14px;
    font-weight: normal;
}
.tanc_box div.line4 .data_sjc_box{
    width: 100%;
}
.tanc_box div.line4 .data_sjc_box input{
    height: 30px;
    /*line-height: 30px;*/
}
.tanc_box div.line4 .data_sjc_box>span{
    height: 30px;
}
.tanc_box div.line4 .data_sjc_box input{
    border-radius: 0px;
     -moz-border-radius: 0px;
    -ms-border-radius:0px;
    border-radius:0px;
}
.tanc_box div.line4 .input-group-addon{
    border-radius: 0px;
     -moz-border-radius: 0px;
    -ms-border-radius:0px;
    border-radius:0px;
}


.tanc_box div.line6{
    height: 30px;
    width:100%;
    margin-bottom:15px;
}
.tanc_box div.line6 input[type="text"]{
    width: 44.5%;
    height: 30px;
    line-height: 1.42857143;
    border:1px solid #99d9f3;
    float: left;
    text-align: left;
    text-indent: 10px;
    font-size: 14px;
}
.tanc_box div.line6 input[type="button"]{
    background: #00b5b1;
    float: left;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    margin-left: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    border:none;
}


.tanc_box div.line6 .sel-box1{
    float: left;
   
}
.tanc_box div.line6 .sel-box1 .selectpick_div{
     width: 300px !important;
     height: 32px !important;
     border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    text-align:left;
    font-size: 14px;
    color:#333333;
    text-indent:5px
}
.tanc_box div.line6 .sel-box1 .selectpick_icon{
    float: right;
    background: url(../img/bottom.png) no-repeat center;
    height: 30px;
    width: 40px;
    cursor: pointer;
}
.tanc_box div.line6 .sel-box1 .selectpick_options{
    width: 300px !important;
    text-indent:6px
}
.tanc_box div.line6 .sel-box1 ul{
    float: none;
}
.tanc_box div.line6 .sel-box1 li{
    float: none;
    text-align:left;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    padding-left: 5px;
}
.tanc_box div.line6 .sel-box1 li label{
    float: none;
    margin:0;
}
.tanc_box div.line6 .sel-box1 .selectpick_options ul li.selectpick_options_selected,.selectpick_options li:hover{
    background-color: #36b1e6;
   
}

.tanc_box div.line6 .sel-box2{
    float: left;
   
}
.tanc_box div.line6 .sel-box2 .selectpick_div{
     width: 300px !important;
     height: 32px !important;
     border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    text-align:left;
    font-size: 14px;
    color:#333333;
    text-indent:5px
}
.tanc_box div.line6 .sel-box2 .selectpick_icon{
    float: right;
    background: url(../img/bottom.png) no-repeat center;
    height: 30px;
    width: 40px;
    cursor: pointer;
}
.tanc_box div.line6 .sel-box2 .selectpick_options{
    width: 300px !important;
    text-indent:6px
}
.tanc_box div.line6 .sel-box2 ul{
    float: none;
}
.tanc_box div.line6 .sel-box2 li{
    float: none;
    text-align:left;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    padding-left: 5px;
}
.tanc_box div.line6 .sel-box2 li label{
    float: none;
    margin:0;
}
.tanc_box div.line6 .sel-box2 .selectpick_options ul li.selectpick_options_selected,.selectpick_options li:hover{
    background-color: #36b1e6;
   
}

/*查看页面*/
.r-con-left .tab_box>div div.line7 {
    width: 100%;
    overflow: hidden;
    margin: 10px auto;
}
.r-con-left .tab_box>div div>label {
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    width: 100px;
    line-height: 30px;
    margin: 0;
}
.r-con-left .tab_box>div div.line7 p{
	width: 60%;
    height: 30px;
    line-height: 30px;
    float: left;
    text-align: left;
    text-indent: 10px;
    font-size: 14px;
}

.r-con-left .tab_box>div div.line7 textarea{
    height: 80px;
    font-size: 14px;
    margin-top: 5px;
    width: 80%;
    overflow-y: scroll;
    resize: none;
    padding: 5px;
    text-indent: 5px;
    border: 1px solid #dddddd;
    background: #eeeeee;
}